<button class="btn btn-primary" (click)="decreaseCounter()">-</button>
<span>{{counter}}</span>
<button class="btn btn-primary" (click)="increaseCounter()">+</button>

<!-- <div>{{cardArray}}</div> -->

<!-- @for (card of cardArray; track $index){
<div>{{ item.id}}</div>

} -->

 
  <section class="vh-100" style="background-color: #fdccbc;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <p class="h2"> Shopping Cart</p> 
          <button class="btn btn-primary my-3" (click)="show()">show cart</button>
  
          <div class="card mb-4">
            <div class="card-body p-4">
  
              <div class="row align-items-center ">
                @for(card of cardArray ; track $index){
                <div class="col-md-3 my-2">
                  <img [src]="card.thumbnail"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Title</p>
                    <p class="lead fw-normal mb-0">{{card.title}}</p>
                  </div>
                </div>
             
                <div class="col-md-3 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Quantity</p>
                    <button  class="btn btn-primary" (click)="decreaseCounter()" (click)="decreaseCounteritem()">-</button>
                    <!-- <p class="lead fw-normal mb-0">1</p> -->
                    <span lass="lead fw-normal mb-0">{{itemCount}}</span>
                    <button class="btn btn-primary" (click)="increaseCounter()" (click)="increaseCounteritem()">+</button>
                  </div>
                </div>
                <div class="col-md-3 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Price</p>
                    <p class="lead fw-normal mb-0">{{card.price}}</p>
                  </div>
                </div>

              }
              </div>
  
            </div>
          </div>
        

  
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-lg">Order now</button>
          </div>
  
        </div>
      </div>
    </div>
  </section>
 