<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
    "
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>
          <form
            #registerform="ngForm"
            (ngSubmit)="handleregisterform(registerform)"
          >
            <!-- start form-->
            <!-- name -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form3Example1"
                    class="form-control"
                    placeholder="First Name"
                    name="first-name"
                    ngModel
                    required
                    minlength="3"
                    #registerfname="ngModel"
                  />
                  @if (registerfname.touched&&registerfname.invalid) {
                  <div class="form_text text-danger">
                    @if (registerfname.errors?.['required']) {
                        <small>this field is required</small>
                    }
                    @if (registerfname.errors?.['minlength']) {
                        <small>small length</small>
                    }
                  </div>
                  }
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="form3Example2"
                    class="form-control"
                    placeholder="Last Name"
                    name="last-name"
                    ngModel
                    required
                    minlength="3"
                    #registerlname="ngModel"
                  />
                  @if (registerlname.touched&&registerlname.invalid) {
                    <div class="form_text text-danger">
                      @if (registerlname.errors?.['required']) {
                          <small>this field is required</small>
                      }
                      @if (registerlname.errors?.['minlength']) {
                          <small>small length</small>
                      }
                    </div>
                    }
                </div>
              </div>
            </div>
            <!-- username input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="form3Example3"
                class="form-control"
                placeholder="username"
                name="username"
                ngModel
                required
                minlength="5"
                #registerusername="ngModel"
              />
              @if (registerusername.touched&&registerusername.invalid) {
                <div class="form_text text-danger">
                  @if (registerusername.errors?.['required']) {
                      <small>this field is required</small>
                  }
                  @if (registerusername.errors?.['minlength']) {
                      <small>small length</small>
                  }
                </div>
                }
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="form3Example3"
                class="form-control"
                placeholder="Email address"
                name="email"
                ngModel
                required
                #registeremail="ngModel"
              />
              <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" -->
              @if (registeremail.touched&&registeremail.invalid) {
                <div class="form_text text-danger">
                  @if (registeremail.errors?.['required']) {
                      <small>this field is required</small>
                  }
                </div>
                }
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="form3Example4"
                class="form-control"
                placeholder="Password"
                name="password"
                ngModel
                required
                minlength="8"
                #registerpassword="ngModel"
              />
              @if (registerpassword.touched&&registerpassword.invalid) {
                <div class="form_text text-danger">
                  @if (registerpassword.errors?.['required']) {
                      <small>this field is required</small>
                  }@if (registerpassword.errors?.['minlength']) {
                    <small>small length</small>
                }
                </div>
                }
            </div>

            <!-- Checkbox
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                            </label>
                        </div> -->

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="registerform.invalid">
              Sign up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
